name: Deploy
on:
  push:
    branches: [ main ]

jobs:
  build-and-publish-to-main-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write   # allow pushing to the repo
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - run: npm ci
      - run: npm run build

      # Publish dist -> main/docs
      - name: Push build to main/docs
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: main
          publish_dir: ./dist
          destination_dir: docs
          keep_files: true
